*,
*::after,
*::before{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: roboto,sans-serif;
}

/* ############################## NAVBAR STYLING ######################### */
.navbar{
    background-color: #48AFFF;
    height:75px;
    width: 100%;
    z-index: 10;
    opacity: 0.80;
}

.navbar li{
    display: inline-block;
    list-style: none;
    margin-left: 1.5rem;
}
.navbar li a{
    text-decoration: none;
    color: #fff; 
    font-size: 2em;
    font-weight: bold;
}

.logo-container{
    float: left;
}
.items-container{
    float:left;
}
.nav-search{
    float:left;
}
.navbar-container::after{
    content: " ";
    clear: both;
    display: block;
}

/* ############## LoGO ########################### */
.logo-container{
    margin: 21px 0rem 0rem 5rem;
}
.logo{
    color: #fff;
    font-size:3em;
    font-weight:bolder;
}

/* ############ NAV Items ############ */
.items-container{
    margin-left: 30em;
    margin-top:21px;
    padding-top: 6px;
}


/* ############ Nav Search ############ */
.nav-search{
    margin-left:  21em;
    margin-top:21px;
}
.search-items{
    width: 200px;
    height:32px;
    border-radius:15px; 
}

/* ########################## Banner Back ###########################  */
.banner-background{
    height:330px;
    width: 100%;
}
.banner-background img{
    width: 100%;
    height: 50%;
}
.banner-background-color{
    width: 100%;
    height: 50%;
}
.banner-container{
    position: relative;
}
.banner{
    width:970px;
    height: 249px;
    margin: auto;
    position: absolute;
    bottom: 40px;
    left: 211px;
}

/* ############################# Container1 ############################# */
.container1{
    width:80%;
    height: 450px;
    margin: auto;
}
.container-heading{
    font-size: 2rem;
    color: #404040;
    font-weight: 600;
    padding-top: 65px;
    padding-left: 5px;

}
.card{
    width: 23%;
    height: 290px;
    float: left;
    margin-top: 40px;
    border: 1px solid black;
    position: relative;
}
.card1{
    margin-left: 5px;
}
.card2{
    margin-left: 23px;
}
.card3{
    margin-left: 23px;
}
.card4{
    margin-left: 23px;
}
.card-button-text{
    color: #fff;
    background: #000000;
    height:30px;
}
.card-button{
    width: 100%;
    position:absolute;
    bottom:0;
}
.card-button-text{
    font-size:18px;
    padding-left: 93px;
    padding-top: 6px;
}
.card img{
    width:125px;
    height:135px;
    margin-left:85px;
    margin-top: 15px;
}
.mobile-name{
    margin-left:88px;
    color:#404040;
    font-size: 18px;
    margin-top: 20px;
}
.mobile-price{
    margin-left:104px;
    color:#48afff;  
    font-size: 2rem;
    font-weight: 600;
    margin-top: 14px;
}
.mobile-price:hover{
    color:#606c76;
}



/* ########### Container2 ################################# */

.container2{
    width:100%;
    height:750px;
    margin:  auto;
    position: relative;
}
.container2-heading{
    display: inline-block;
}
.container2-view-more{
    float: right;
    margin-right: 20px;
    text-decoration: none;
    font-size:20px;
    color:#fff;
    font-weight:bold;
}
.container2-part1{
    width: 100%;
    height: 375px;
}
.container2-part2{
    width: 100%;
    height: 375px;
}
.container2-part1 img{
    width: 100%;
}
.banner2{
    
    height:585px;
    width: 1256px;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 100px;
}
.container2-part2{
    background-color: #F1F3F6;
}
.banner2-card{
    width: 16%;
    height:250px;
    float:left;
    margin-left: 7px;
    margin-top:28px;
    background-color: #fff;
    
}
.banner2-card img{
    width:120px;
    height:135px;
    margin-left: 27px;
    margin-top:7px;
}

.container2-mobile-name{
    margin-left:40px;
    color:#404040;
    font-size: 18px;
    margin-top: 20px;
}
.container2-mobile-price{
    margin-left:50px;
    color:#48afff;  
    font-size: 2rem;
    font-weight: 600;
    margin-top: 14px;
}

.banner2::after{
    content: " ";
    clear: both;
    display: block;
}


    /* <!-- ################################ Container 2 ############################################### --> */
.container3{
    width: 100%;
    height:610px;
    background-color: #F1F3F6;
}
.sub-container3{
    width: 86.5%;
    margin: auto;
}

.container3-left-card{
    width:41.5%;
    height: 490px;
    float: left;
    background-color: #fff;
}
.container3-right-card{
    width:55%;
    height: 490px;
    float: right;
    background-color: #fff;
}

.container3-heading{
    color: #202020;
    font-size:18px;
    font-weight: 600;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    
}
.container3-a1{
    display: inline-block;
    color: #202020;
    font-size:18px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;   

}

.container3-a2{
    display: inline-block;
    margin-left: 333px;
    margin-right: 20px;
    text-decoration: none;
    font-size:20px;
    color: #48afff;
    font-weight:bold;
    margin-top: 20px;
}

.circle{
    display: inline-block;
    font-size:15px;
    color: #fff;
    background-color: #48afff;
    border: 2px solid #48afff;
    border-radius:15px;
    margin-left: 25px;
    margin-top: 10px;
    font-weight: 400;
    padding: 4px 8px;
}
.container3-input{
    width:270px;
    height: 33px;
    margin-left: 30px;
    border-radius: 15px;
    color: #000000;
}
.label-hading2{
    margin-top:17px;
}
.price-feature-btn{
    margin-top: 15px;
}
.price-feature-btn label{
    font-size: 1.5rem;
    display: inline-block;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 4px;
    color: gray;
    cursor: pointer;
    font-weight: 500;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1rem;
    text-transform: capitalize;
}
.labelx{
    margin-left:14.5px;
    margin-top: 15px;
}
.price-feature-btn input{
    visibility:hidden;
}
.feature{
    margin-top: 15px;
}
.find-mobile-button{
    width: 90%;
    height:38px;
    background-color:#48afff;
    margin-top: 44px;
    margin-left: 24px;
    border-radius:15px;
    text-align: center;
}
.find-mobile-button a{
    font-size:19px;
    font-weight: 600;
    color:#fff;
    text-decoration: none;
    display: inline-block;
    margin-top:10px;
}

.best-mobile-by-price{
    width:100%;
    height:90px;
    border-bottom: 1px solid #000;
    
}
.best-mobile-by-price img{
    width: 86px;
    height: 66px;
    margin-top: 20px;
    margin-left: 20px;
    float:left;
}
.best-mobile-by-price-heaging{
    font-size:20px;
    font-weight:400;
    margin-left: 70px;
    margin-top: 33px;
    float:left;
}
.best-mobile-by-price::after{
    content: " ";
    display: block;
    clear: both;

}

.sub-container3::after{
    content: " ";
    display: block;
    clear: both;
}

/* ################################ Container4 ################### */
.container4{
    width: 100%;
    height: 300px;
    margin-top:77px;
    border: 1px solid #000;
}
footer .footer{
    width: 100%;
    height: 80px;
    background-color: #48afff;
}
.copywrite{
    float: left;
    width: 20%;
    height: 30px;
    color: #fff;
    
}
.copywrite span{
    display: inline-block;
    margin-left:50px;
    margin-top: 30px;
    font-size:20px;
    
}
.sponsers{
    float: left;
    width: 40%;
    height: 50%;
    
}
.sponsers img{
    width: 300px;
    height: 30px;
    margin-left: 189px;
    margin-top: 25px;
}
.footer-icon{
    float: left;
    width: 40%;
    height: 40px;
    color: #fff;
    padding-left: 176px;
    padding-top: 22px;
}
.fa-facebook{
    margin-left:38px;
}
.fa-instagram{
    margin-left:38px;
}
.fa-telegram{
    margin-left:38px;
}
.footer::after{
    content: " ";
    display: block;
    clear: both;
}